/* @import '~antd/dist/antd.css'; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat&family=Ubuntu:wght@500&display=swap');
.homepageContainer {
  /* flex: 1; */
  min-height: 100vh;
  background-color: #FEFBF3;
}
.body {
  margin-top: 30px;
}
.cateContainer {
  font-family: 'Ubuntu', sans-serif;
}
.categoryButton {
  position: relative;
  left: 70%;
  top: 60px;
  outline: none;
  /* border-radius: 2rem; */
  width: 120px;
  height: 40px;
  color: #fff;
  border-style: none;
  background-color: transparent;
}



.cate {
  margin: auto;
}

.cate:hover {
  color: #00A19D;
}
.test {
  border: 1px solid;
  
}
.test::after {
  border: 1px solid black;
}
.dropdown {
  width: 90%;
  height: 30px;
}
.category {
  color: #00A19D;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.item {
  color: #00A19D;
  font-size: 1rem;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.item:hover {
  font-weight: bold;
}

.historyContainer {
  width: 70%;
  height: 50%;
  margin: 10% auto;
  list-style: none;
}

.history {
  background-color: #EFEFEF;
  margin: 2% 0%;
  padding: 2% 3% 1%;
  border-radius: 1rem;
}

.history:hover {
  background-color: #F6F6F6;
}

.readmore {
  color: #FFC074;
}

.readmore:hover {
  color: #00A19D;
}
.type {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  color: #00A19D;
  font-size: 1rem;
  margin-bottom: 0;
}

.content {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #9D9D9D;
  font-size: 1rem;
}

.pageDiv {
  position: relative;
  bottom: 50px;
  margin-top: 100px;
  text-align: center;

}
.pagination {
  color: #00A19D;
}

.empty {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #FFC074;
}
