@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Ubuntu:wght@500&display=swap');
.myNav {
    background-color: #00A19D;
    display: flex;
    align-items: center;
    margin: auto;
    height: 60px;
}

.myBrand {
    color: bisque;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 0.5%;
    left: 15%;
}

.lists {
    display: flex;
    margin-left: 30%;
}

/* .item {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
} */

.link {
    position: relative;
    text-decoration: none;
    color: beige;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 0 30px;
}
/* .link::after {
    content: "";
    position: absolute;
    background-color: #FFC074;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -21px;
    padding: 0 30px;
    transition: 0.3s;
} */

.link:hover {
    text-decoration: none;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 0.75rem;
}

/* .link:hover::after {
    width: 100%;
} */