@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Ubuntu:wght@500&display=swap');

.myNav {
    background-color: #00A19D;
    /* display: flex; */
    height: 50px;
    /* min-width: 400px; */
    color: #fff;
}

.name {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    width: 10%;
    min-width: 250px;
    display: flex;
}
.name:hover {
    background-color: #00A19D;
    text-decoration: none;
}
.titleText {
    color: #fff;
    width: 50%;
}

.logout {
    border-style: none;
    background-color: transparent;
}

.text {
    color: #fff;
}

.item {
    text-decoration: none;
    color: antiquewhite;
    margin-right: 3%; 
    min-width: 100px;
}

.subIcon {
    margin-left: 10%;
}
.usericon {
    position: absolute;
    right: -5%;

}

.item:hover {
    list-style: none;
}